/* ===============================
   Colour Palette:
   ---------------
   Gold:		    #cab15e
   Black:			#000;
   
   =============================== */

/* General */

body {
	background: #fff;
	color: #4b2707;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 14px;
	font-family: 'Open Sans', "Helvetica Neue", Arial, sans-serif;
}

.container {
	width: 924px;
	margin: 0 auto;
	padding: 30px 24px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
/* Typography */

h1, h2, h3{
	font-family: 'Love Ya Like A Sister', cursive;
	color: #d17f38;
	font-size: 40px;
	font-weight: normal;
	line-height: 44px;
	margin: 0;
}

h1 {
	text-align: center;
	padding: 0 0 20px;
}

h1 em {
	color: #4b2707;
	font-style: normal;
}

h2 {
	font-size: 34px;
}

h3 {
	margin: 0;
}

p.lead {
	font-size: 30px;
	font-weight: 300;
	text-align: center;
	margin: 10px 0;
}

p {
	margin: 0;
}

a:link {
	color: #000;
}

a:visited {
	color: #000;
}

a:hover {
	color: #cab15e;
}

hr {
	border: none;
	height: 33px;
	width: 333px;
	margin: 30px auto;
	background: url('../images/divider.png') center center no-repeat;
}

/* Header */

header nav {
	text-align: center;
}

header nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	line-height: 141px;
}

header nav ul li {
	display: inline-block;
	padding: 0 20px;
}

header nav ul li a:hover {
	color: #cab15e;
	padding-top: 32px;
}

header nav ul li a {
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}

header nav ul li#logo a {
	display: block;
	width: 292px;
	height: 141px;
	background: url('../images/center-logo.png') center center no-repeat;
	text-indent: -9999px;
}

header nav ul li#logo a:hover {
	padding: 0;
}

/* "About Me" section */

#web {
	background: #d5bf79;
}

#web .container {
	position: relative;
}

#about-me {
    width: 500px;
    margin-right: 24px;
    float: right;
    font-size: 16px;
}

#about-me h1 {
    color:#000;
}

#about-me p {
    text-align: center;
    font-size: 20px;
    color: #000;
}
/* Projects section */
#projects h1 {
    color: #d5bf79;
}

#projects h2.lead{
	color: #000;
	font-size: 30px;
}

#projects .dashboard p {
    float: right;
	font-size: 20px;
	width: 550px;
	color: #000;
}

/* Resume */
#resume h1 {
    color: #d5bf79;
}

#resume img {
	border-top-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-right-style: dashed;
	border-width: thin 2px;
}

/* Contact Me */ 
#contact-me h1 {
	color: #d5bf79;
}

#contact-me p {
	color:#000;
	text-align: center;
	font-size: 20px;
}

#contact-me h3 {
	color: #000;
	text-align: center;
	font-size: 30px;
}
/* Footer */

footer.main {
	background: #d5bf79;
	color: #f2f3ee;
	padding: 30px 0;
}

footer.main a:hover {
	color: #f2f3ee;
}

#uncopyright, #credits {
	width: 240px;
	float: left;
	padding: 10px 0 10px 50px;
}

#credits {
	float: right;
}

/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */